<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar exclusão</title>
</head>
<body>
    <main>
        <header>
            <h1>Cadastro de Alunos</h1>
        </header>
        <section>
            <% aluno.forEach(dado =>{ %>

            <form method="post" action="/alunos/deletarAluno/<%= dado.MATRICULA %>?_method=DELETE">
                Matricula: <input type="text" name="matricula" id="matricula" value="<%= dado.MATRICULA %>" disabled>
                Nome: <input type="text" name="nome" id="nome" value="<%= dado.NOME %>"disabled>
                Email: <input type="email" name="email" id="email" value="<%= dado.EMAIL %>"disabled>
                Turma: <input type="text" name="turma" id="turma" value="<%= dado.TURMA %>"disabled>
                Serie: <input type="number" name="serie" id="serie" value="<%= dado.SERIE %>"disabled>
                Sexo: <input type="text" name="sexo" id="sexo" value="<%= dado.SEXO %>"disabled>
                Telefone: <input type="fone" name="telefone" id="telefone" value="<%= dado.TELEFONE %>"disabled>
                Endereço: <input type="text" name="endereco" id="endereco" value="<%= dado.ENDERECO %>"disabled>
                Responsavel: <input type="text" name="responsavel" id="responsavel" value="<%= dado.RESPONSAVEL %>"disabled>
                <input type="submit" value="Excluir">
                <button><a href="/alunos/listarAlunos">Cancelar</a></button>
            </form>
            <% }) %>

        </section>
    </main>
    
</body>
</html>